<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 - Not found!</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

    <!-- Custom stlylesheet -->
    {{ $style := resources.Get "dist/404.css" | css.Sass (dict "targetPath" "css/404.css")  | resources.Minify | resources.Fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Oops!</h1>
                <h2>404 - The Page can't be found</h2>
            </div>
            <a href="{{ $.Site.BaseURL }}">Go to homepage</a>
        </div>
    </div>
    <div style="visibility: hidden" hidden aria-hidden="true">This templates was made by Colorlib (https://colorlib.com)</div>
</body>

</html>
