@font-face {
    font-family: Poppins;
    src: url('/fonts/poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-style: italic;
    src: url('/fonts/poppins/Poppins-Italic.ttf') format('truetype');
}

@font-face {
    font-family: Poppins;
    font-weight: bold;
    src: url('/fonts/poppins/Poppins-Bold.ttf') format('truetype');
}
