$lightBg: #f6f8fa;
$darkBg: #282a36;

.highlight {
    -webkit-overflow-scrolling: touch;
}

.highlight > pre > code {
    display: inline-block;
    word-wrap: normal;
}

pre[class*="language-"],
code[class*="language-"] {
    background-color: $lightBg;
    border-radius: 6.4px;
    border: 0;

    font-size: 13px;
    line-height: 1.2em;
    font-family: 'Fira Code VF', Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

[data-theme="dark"] {
    pre[class*="language-"],
    code[class*="language-"] {
        color: #f8f8f2;
        background-color: $darkBg;

        .token.operator {
            background-color: $darkBg;
            color: #f8f8f2;
        }
    }
}

