.highlight {
    -webkit-overflow-scrolling: touch;
}

.highlight > pre > code {
    display: inline-block;
    word-wrap: normal;
}

pre[class*="language-"],
code[class*="language-"] {
    font-size: 13px;
    line-height: 1.2em;
    font-family: 'Fira Code VF', Consolas,"Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}

[data-theme="dark"] {
    pre[class*="language-"] {
        border: 1px solid #1e1e1e;
    }
}

