.navbar-darkmode {
    @extend .btn;
    @extend .btn-outline-light;
    @extend .text-dark;
    margin-left: auto;
}

[data-theme="light"] {
    transition: all 0.3s;
}

[data-theme="dark"] {
    @extend .bg-dark;
    @extend .text-light;
    transition: all 0.3s;

    .table {
        @extend .table-dark;
    }

    .single-post {
        .author-card {
            @extend .bg-dark;
            border-color: grey;
        }

        .post-comment {
            @extend .bg-dark;
            border-color: grey;
        }
    }

    > header {
        > nav {
            @extend .bg-dark;
            @extend .navbar-dark;

            > ul {
                > li {
                    > a {
                        @extend .text-light;
                    }
                }
            }
        }
    }

    .navbar-darkmode {
        @extend .btn-outline-dark;
        @extend .text-light;
    }

    p code,
    ol code,
    .alert code {
        color: #ff6a00;
    }
}
