@import "../dist/bootstrap-5.0.0-alpha3/bootstrap";

@import "navbar.scss";
@import "footer.scss";

@import "single.scss";
@import "summary.scss";

@import "darkmode.scss";
@import "prismjs.scss";

@import "comments.scss";

body > main {
    @extend .container;
}

body {
    background: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    
    a {
        text-decoration: none;
    }
}

