@import "../dist/bootstrap-5.3.6/bootstrap";
@import "fonts.scss";

@import "navbar.scss";
@import "footer.scss";

@import "single.scss";
@import "summary.scss";

@import "darkmode.scss";
@import "prismjs.scss";

@import "comments.scss";

body > main {
    @extend .container;
}

body {
    background: #fdfdfd;
    font-family: 'Poppins', var(--bs-body-font-family);
}

h1, h2, h3, h4, h5, h6 {
    a {
        text-decoration: none;
    }
}

nav > .pagination {
    @extend .d-flex;
    @extend .justify-content-center;
}
