.author-card {
    @extend .card;
    @extend .card-body;
    @extend .border-start-0;
    @extend .border-end-0;
}

.single-post > header {
    text-align: center;
    padding-bottom: 15px;
}

.post-date {
    @extend .text-uppercase;
    @extend .fw-light;
    display: inline-block;
    font-size: 18px;
}

.post-content {
    padding-bottom: 30px;
}

.post-comments-block {
    h2 {
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.post-comments {
    padding-top: 30px;
}

#author-img {
    background: url(/img/avatar2.jpg);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    float: left;
    background-position: center;
    background-size: cover;
}

.author {
    h4 {
        margin-left: 99px;
        font-weight: 500;
    }

    p {
        margin-left: 99px;
    }
}

table {
    @extend .table;
    @extend .table-striped;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
