.post-tags {
    font-family: 'Open Sans';
    font-size: 14px;

    ul {
        text-align: center;
        display: block;
        padding-left: 0;

        li {
            list-style: none;
            display: inline-block;
            padding-right: 5px;

            a {
                @extend .badge;
                @extend .bg-light;
                @extend .text-dark;

                &:hover {
                    filter: brightness(85%);
                    transition: ease-in-out 0.15s;
                }
            }
        }
    }
}

h2.post-title {
    text-align: center;
}

.post-meta {
    text-align: center;
    font-weight: 300;
}

.draft-badge {
    @extend .badge;
    @extend .bg-primary;
}
