body > footer {
    text-align: center;
    padding: 30px;
}

.social-icons {
    display: inline-table;
    font-size: 21px;
    list-style: none;

    li {
        float: left;

        a {
            padding-right: 10px;
        }
    }
}

#footer-nav {
    a {
        @extend .small;
    }

    ul {
        list-style: none;
    }
}
