@import "bootstrap-4.3.1/bootstrap";

body > main {
    @extend .container;
}

body {
    background: #fdfdfd;

    header {
        padding-bottom: 8px;

        nav {
            @extend .navbar;
            @extend .navbar-expand-lg;
            @extend .navbar-light;
            @extend .bg-light;

            ul {
                @extend .navbar-nav;

                li {
                    @extend .nav-item;

                    a {
                        @extend .nav-link;
                    }
                }
            }
        }
    }
}

body > footer {
    text-align: center;
    padding: 30px;
}

main {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Mate', serif;
    font-size: 21px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans';
}

.post-tags {
    font-family: 'Open Sans';
    font-size: 16px;

    ul {
        text-align: center;
        display: block;

        li {
            list-style: none;
            display: inline-block;

            a {
                @extend .badge;
                @extend .badge-secondary;
            }
        }
    }
}

.post-date {
    @extend .text-uppercase;
    @extend .font-weight-light;
    display: inline-block;
    font-size: 18px;
}

.single-post > header {
    text-align: center;
    padding-bottom: 15px;
}

.social-icons {
    display: inline-table;
    font-size: 21px;
    list-style: none;

    li {
        float: left;

        a {
            padding-right: 10px;
        }
    }
}

.post-content {
    padding-bottom: 30px;
}

table {
    @extend .table;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
