@import "../dist/bootstrap-4.4.1/bootstrap";

@import "navbar.scss";
@import "footer.scss";

@import "single.scss";
@import "summary.scss";

@import "darkmode.scss";
@import "prismjs.scss";

body > main {
    @extend .container;
}

body {
    background: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

table {
    @extend .table;
    @extend .table-striped;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
