{{ define "main" }}
<article class="single-post">
    <header id="post-header">
        <h1>{{ .Title }}</h1>
        {{ if ne .Params.Type "page" }}
        <time class="post-date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
        {{ end }}
    </header>

    {{ partial "deprecated-warning" . }}
    {{ partial "draft-warning" . }}

    <section class="post-content">
        {{ .Content }}
    </section>

    {{ if eq .Params.Type "post" }}
    <footer>
        <div class="author-card">
            <section class="author">
                <div id="author-img"></div>
                <h4>{{ $.Param "author" }}</h4>
                <p>{{ $.Site.Params.AuthorBio }}</p>
            </section>
        </div>

        <div class="post-comments-block">
            {{ $postName := .Page.File.ContentBaseName }}
            <h2>Comments</h2>

            <div id="comment-success-alert" class="alert alert-success fade show d-none" aria-hidden="true">
                <p>Thank you! Your comment has been submitted. </p>
                <b>NOTE:</b> Your comment may take a while to appear because comments are moderated.
            </div>

            <div class="post-add-comment-form">
                <!-- This variable is also in the blog-comment partial. -->
                {{ $commentHookUrl := site.Params.CommentHookUrl }}
                <form id="comment-form" method="post" action="{{ strings.TrimSuffix "/" $commentHookUrl }}/api/v1/posts/{{ $postName }}/comment">
                    <div class="form-field">
                        <label for="displayName">Display name:</label>
                        <input id="displayName" name="DisplayName" type="text" placeholder="Display name" title="Name displayed with your comment" />
                    </div>

                    <div class="form-field">
                        <label for="content">Your comment:</label>
                        <textarea id="content" name="Contents" placeholder="Join the discussion" rows="3"></textarea>
                    </div>

                    <button id="submitComment" type="submit">
                        Submit comment
                        <span class="submitSpinner spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                    </button>
                </form>
            </div>

            {{ $allComments := index .Site.Data "comments" }}
            {{ if $allComments }}
            {{ $postComments := index $allComments "posts" }}
            {{ if $postComments }}
            {{ $commentsForThisPost := index $postComments $postName }}
            {{ if $commentsForThisPost }}

            <div class="post-comments">
                {{ with $commentsForThisPost }}
                <h3> {{ len . }} responses</h3>

                {{ range (sort .) }}
                
                <div id="thread-{{ .id }}">
                    {{ partial "blog-comment" (dict "level" 0 "data" . "thread" .id "postName" $postName) }}
                </div>
                {{ end }}
                {{ end }}
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
        </div>

    </footer>
    {{ end }}
</article>
{{ end }}
